.app-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page{
    height: 100%;
    width: 100%;
    background: #adadad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}