<div class="marks">
    <div class="controls">
        <button class="button">
            Add Student
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button class="button">
            Add Day
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button class="button">
            Remove Day
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
    </div>

    <div class="marks-table">
        <div class="box-edit">
            <div class="box edit" *ngFor="let edit of students" title="edit student">
                <fa-icon [icon]="faEdit"></fa-icon>
            </div>
        </div>
        <div class="sudent-name">
            <div class="box student" *ngFor="let student of students">
                {{ student.name }}
            </div>
        </div>
        <div class="sudent-average">
            <div class="box average" *ngFor="let student of students">
                {{ student.average.toFixed(2) }}
            </div>
        </div>
        <div class="sudent-marks">
            <div class="box days" *ngFor="let student of students">
                <div class="mark" *ngFor="let mark of student.marks">
                    
                </div>
            </div>
        </div>
    </div>
</div>