<div class="marks">
    <div class="controls">
        <button class="button">
            Add Student
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button class="button" (click)="onAddDay()">
            Add Day
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button class="button" (click)="onRemoveDay()">
            Remove Day
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
        <button class="button">
            Save Changes
            <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
        </button>
    </div>

    <div class="marks-table">
        <div class="student">
            <div class="box edit">
                Edit
            </div>
            <div class="box name">
                Student Name
            </div>
            <div class="box average">
                Average Mark
            </div> 
            <div class="day" *ngFor="let day of students[0].marks">
                <div class="mark">
                    <div class="box">
                        {{ day.date }}
                    </div>
                </div>
            </div>   
        </div>

        <div class="student" *ngFor="let student of students; let studentIndex = index">
            <div class="box edit" (click)="onEdit(studentIndex)">
                <fa-icon [icon]="faEdit"></fa-icon>
            </div>
            <div class="box name">
                {{ student.name }}
            </div>
            <div class="box average">
                {{ student.average.toFixed(2) }}
            </div>
            <div class="mark" *ngFor="let mark of student.marks; let markIndex = index">
                    <div class="box" title="{{ mark.date }} - {{student.name}}">
                        <div class="change-score up" (click)="increase(studentIndex, markIndex)">
                            <fa-icon [icon]="faSortUp"></fa-icon>
                        </div>
                        {{ mark.mark }}
                        <div class="change-score down" (click)="decrease(studentIndex, markIndex)">
                            <fa-icon [icon]="faSortUp"></fa-icon>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>